<h1>Editing imaginationtext</h1>

<%= render "form", imaginationtext: @imaginationtext %>

<br>

<div>
  <%= link_to "Show this imaginationtext", @imaginationtext %> |
  <%= link_to "Back to imaginationtexts", imaginationtexts_path %>
</div>
