<%= render @diary %>
<div>
  <%= link_to "編集", edit_patient_addicdatum_diary_path(id:@diary.id),class: 'btn btn-primary' %>
  <%= link_to "戻る", patient_addicdatum_diaries_path,class: 'btn btn-primary' %>

</div>
