<h1><%= I18n.t("todo.pseudoact")+I18n.t("new") %></h1>
<%= link_to I18n.t("back"), patient_addicdatum_pseudoacts_path, class: 'btn btn-primary' %>
<%= form_with(model: @pseudoact,url:
patient_addicdatum_pseudoacts_path(addicdatum_id:@addicdatum.id)) do |form| %>
  <%= render "form", pseudoact: @pseudoact,form:form %>
<% end %>

