<h1>新規カウンセラー登録</h1>
<%= link_to '戻る', counsellors_path, class: 'btn btn-primary' %>
<%= form_with(model: @counsellor.user, url: counsellors_path) do |form| %>
<%= render "form", counsellor: @counsellor,form:form,calling_view: 'new' %>
<% end %>
