<h1><%=I18n.t("todo.controlstimulu") %></h1>
<%= form_with(model: @controlstimulu,url:
patient_addicdatum_controlstimulu_path(@addicdatum)) do |form| %>
    <%= render "form", controlstimulu: @controlstimulu,form:form %>
<% end %>
