<p style="color: green"><%= notice %></p>

<%= render @counsellor %>

<div>
  <%= link_to "Edit this counsellor", admin_counsellor_edit_path(@counsellor) %>
  <%= link_to "Back to counsellors", admin_counsellor_index_path %>
</div>
