<div>
  <p>
    <strong><%= I18n.t("activerecord.attributes.patient.residence") %>:</strong>

      <%= patient.residence %>
  </p>
  <p>
  <strong><%= I18n.t("activerecord.attributes.patient.holiday") %>:</strong>
    <%= @holiday_string %>
  </p>
  
</div>
