<div>
  <p>
    <strong><%= I18n.t("activerecord.attributes.user.name") %>:</strong>
    <%= user.name %>
  </p>
  <p>
    <strong><%= I18n.t("activerecord.attributes.user.email") %>:</strong>
    <%= user.email %>
  </p>

</div>
