<h1>患者プロフィール編集</h1>
<%= link_to '戻る', patients_path, class: 'btn btn-primary' %>
<%= form_with(model: @patient.user, url: patient_path) do |form| %>
<%= render "form", patient: @patient,form:form,calling_view: 'edit' %>
<% end %>

