<h1>新規患者登録</h1>
<%= link_to '戻る', patients_path, class: 'btn btn-primary' %>
<%= form_with(model: @patient.user, url: patients_path) do |form| %>
<%= render "form", patient: @patient,form:form,calling_view: 'new' %>
<% end %>
