<h1>Editing imagination</h1>

<%= render "form", imagination: @imagination %>

<br>

<div>
  <%= link_to "Show this imagination", @imagination %> |
  <%= link_to "Back to imaginations", imaginations_path %>
</div>
