<h1><%=I18n.t("todo.essay") %></h1>
<%= form_with(model: @essayread,url:
patient_addicdatum_essayreads_path(@addicdatum)) do |form| %>
    <%= render "form", essayread: @essayread,form:form %>
<% end %>
