<h1>Editing addicdatum</h1>

<%= render "form", addicdatum: @addicdatum %>

<br>

<div>
  <%= link_to "Show this addicdatum", @addicdatum %> |
  <%= link_to "Back to addicdata", addicdata_path %>
</div>
